/*Navbar*/
#tmdblogo {
  height: 50px;
  width: auto
}

body {
    background-image: url("../images/moviewallpaper.jpg");
    /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  display: inline;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Hammersmith One';
  font-size: 22px;
}

.container {
  text-align: center;
  background-color: rgb(220,220,220);
  margin-top: 10px;
}

.dataheader{
  text-align: center;
  font-size: 20px;
}

tr{
  border-radius:5px;
}

table,td,th{
  border:5px solid;
  border-color: rgb(0, 0, 0);
  font-family: 'Hammersmith One';
  text-align: center;
  padding: 10px;
}

table {
  border-collapse: collapse; width:100%; 
}

#header{
  text-align: center;
  font-family: 'Hammersmith One';
  color: rgb(0,0,0);
}

#movieimg{
  margin: 10px;
}

footer{
  background-color: black;
  justify-items: center;
  color: white;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: -10px;
}

footer p {
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

